html,
body {
    background: rgb(37, 37, 37);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

svg {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 100;
}